# Always ignore node_modules.
node_modules

# Ignore all of our configuration files.
webpack.config.js
tsconfig.json
tailwind.config.js
postcss.config.js
.eslintrc.js
.babelrc
.prettierrc.json
.prettierignore